<div ng-controller="MainController" class="full-height">
    <it-side-menus>
        <it-side-menu-header it-hide-button-menu="!$root.user">
            <!-- Header Logo -->
            <div class="navbar-header">
                <a class="navbar-brand">
                    <span><img src="assets/img/SCPA_Suppliers_50px.png" width="32" height="32"/></span>
                   Share-ws Demo api
                </a>
            </div>

            <!-- Header Menu-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="$root.searchRequest.serviceUrl" placeholder="SERVICE URL">
                        <input type="text" class="form-control" ng-model="$root.searchRequest.maskID" placeholder="MASK ID">
                        <input type="text" class="form-control" ng-model="$root.searchRequest.userID"  placeholder="USER IDX">
                    </div>

                </form>
            </div>
        </it-side-menu-header>
        <it-side-menu>
            <!-- Side Menu -->
            <ul it-nav-active="active" class="nav navbar-nav nav-pills nav-stacked list-group">
                <li it-collapsed-item>
                    <a href=""><h5><i class="fa fa-music"></i>&nbsp;{{'GLOBAL.MENU_ITEM_MUSIC' | translate}}</h5></a>
                    <ul  class="nav navbar-nav nav-pills nav-stacked it-menu-animated">
                        <li >
                            <a href="#/music/poprock" translate>GLOBAL.MENU_ITEM_MUSIC_POPROCK</a>
                        </li>
                        <li >
                            <a href="#/music/dance" translate>GLOBAL.MENU_ITEM_MUSIC_DANCE</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/playlist"><h5><i class="fa fa-list"></i>&nbsp;{{'GLOBAL.MENU_ITEM_PLAYLIST' | translate}}</h5></a>
                </li>
            </ul>
        </it-side-menu>
        <it-side-menu-content>
            <!-- WebApp Content -->


            <!-- View container -->
            <div  class="container-fluid">
                <!-- View title -->
                <div class="row" ng-show="$root.pageTitle && $root.pageTitle.length > 0">
                    <div class="it-view-header col-md-12">
                        <h3>{{$root.pageTitle | translate}}</h3>
                        <hr/>
                    </div>
                </div>
                <!-- View content -->
                <div ng-view class="ng-view-class"></div>
            </div>
        </it-side-menu-content>
    </it-side-menus>
</div>